<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Agregar nueva carpeta</h1>
</div>
<hr>

<div class="row">
	<div class="col-lg-2 col-md-0"></div>

	<div class="card o-hidden border-0 shadow-lg my-5 col-lg-8">
	  	<div class="card-body p-0">
	    	<div class="row">
	        	<div class="col-md-12">
	          		<div class="p-5">
			            <div class="text-justify">
			            	<h1 class="h4 text-gray-900 mb-4">Dale un nombre a tu carpeta para guardar tus marcadores.</h1>
			            </div>
	            		<form class="user" #folderForm="ngForm" (ngSubmit)="save(folderForm)">
		              		<div class="form-group row">
		                		<div class="col-sm-12 mb-12 mb-sm-0">
		                  			<input type="text" class="form-control form-control-user" #inputName="ngModel" name="name" [(ngModel)]="folder.name" id="exampleFirstName" placeholder="Nombre de la carpeta">
		                		</div>
	              			</div>
		              		<div class="form-group row">
			                	<div class="col-sm-12 mb-12 mb-sm-0">
			                 		<textarea class="form-control form-control-user" #inputDescription="ngModel" name="description" [(ngModel)]="folder.description" placeholder="Descripción de la carpeta"></textarea>
			                	</div>
		              		</div>
	              
			              	<button type="submit" class="btn btn-primary btn-user">
			              		Crear
			              	</button>
	            		</form>   
	        		</div>
	      		</div>
	   		</div>
	  	</div>
	</div>
</div>
