<div class="d-sm-flex align-items-center">
	<div class="col col-md-12">
		<div class="row">
			<div class="col col-md-10 col-sm-8">
				<h1 class="h3 mb-0 text-gray-800">{{ folder.name }}</h1>
			</div>
			<div class="col col-md-2 col-sm-4" *ngIf="folder.name">
				<a href="#" class="btn btn-primary btn-circle" data-target="#markerModal" data-toggle="modal"> <i class="fas fa-fw fa-sticky-note"></i> </a>
				&nbsp;
				<a href="#" class="btn btn-info btn-circle" data-target="#editModal" data-toggle="modal"> <i class="fas fa-fw fa-pen"></i> </a>
				&nbsp;
				<a href="#" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-circle"><i class="fas fa-fw fa-trash"></i></a>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="card o-hidden border-1 shadow-lg col-lg-12 my-3" *ngIf="folder.description">
  	<div class="card-body p-0">
    	<div class="row">
        	<div class="col-lg-12">
          		<div class="p-3">
		            <div class="text-justify">
		            	<h2 class="h6 text-gray-900 mb-10">{{ folder.description }}</h2>
		            </div>          	  
        		</div>
      		</div>
   		</div>
  	</div>
</div>

<ul>
	<li *ngFor="let marker of folder.markers">{{ marker.name }} -> {{ marker.link }}</li>
</ul>





<!--Modal Delete Folder-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿Deseas eliminar la carpeta {{ folder.name }}?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Al eliminar esta carpeta también perderás todos los marcadores que tengas en ella.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-danger" data-dismiss="modal" type="button" (click)="delete()">Borrar</button>
      </div>
    </div>
  </div>
</div>


<!--Modal Edit Folder-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ folder.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form #formFolder="ngForm" (ngSubmit)="update(formFolder)">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nombre:</label>
            <input type="text" class="form-control" id="name" name="name" #inputName="ngModel" [(ngModel)]="folder.name" placeholder="Nombre" />
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Descripción:</label>
            <textarea class="form-control" #inputDescription="ngModel" name="description" [(ngModel)]="folder.description" id="message-text" placeholder="Descripción"></textarea>
          </div>
		      
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		        <button type="submit" class="btn btn-primary">Guardar cambios</button>
		      </div>
        </form>

      </div>
    </div>
  </div>
</div>


<!--Modal Add Marker-->
<div class="modal fade" id="markerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir marcador</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form #formAddMarker="ngForm" (ngSubmit)="addMarker(formAddMarker)">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Link:</label>
            <input type="text" class="form-control" id="name" name="link" #inputLink="ngModel" [(ngModel)]="marker.link" placeholder="Link del marcador" />
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Nombre:</label>
            <input type="text" class="form-control" #inputName="ngModel" name="name" [(ngModel)]="marker.name" id="message-text" placeholder="Nombre del marcador" />
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-info" (click)="assocAccount()">{{ assoc ? 'Cerrar' : 'Asociar cuenta'}}</button>
          </div>
	
		      <div class="card" *ngIf="assoc && marker.name && marker.link">
		      	<div class="card-body">
							<div class="form-group">
		            <label for="recipient-name" class="col-form-label">Correo:</label>
		            <input type="email" class="form-control" id="email" name="email" #inputEmail="ngModel" [(ngModel)]="marker.email" placeholder="Correo para su cuenta en {{ marker.name }}" />
		          </div>
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Usuario:</label>
		            <input type="text" class="form-control" id="username" name="username" #inputUsername="ngModel" [(ngModel)]="marker.username" placeholder="Usuario para su cuenta en {{ marker.name }}" />
		          </div>

		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Clave:</label>
		            <input type="text" class="form-control" id="pass" name="pass" #inputPass="ngModel" [(ngModel)]="marker.pass" placeholder="Clave para su cuenta en {{ marker.name }}" />
		          </div>
		      	</div>
		      </div>
	
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		        <button type="submit" class="btn btn-primary">Crear</button>
		      </div>
        </form>

      </div>
    </div>
  </div>
</div>