<div class="limiter">
	<div class="container-login100" style="background-image: url('./assets/images/img-01.jpg');">
		<div class="wrap-login100 p-t-190 p-b-30">
			<form class="login100-form validate-form" #formLogin="ngForm" (ngSubmit)="login(formLogin)">
				<div class="login100-form-avatar">
					<img src="./assets/images/avatar-01.jpg" alt="AVATAR">
				</div>

				<span class="login100-form-title p-t-20 p-b-45">
					John Doe
				</span>

				<div class="wrap-input100 validate-input m-b-10" data-validate = "Correo es requerido">
					<input class="input100" type="email" name="email" #email="ngModel" [(ngModel)]="user.email" placeholder="Correo">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-user"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input m-b-10" data-validate = "La contraseña es requerida">
					<input class="input100" type="password" name="pass" #pass="ngModel" [(ngModel)]="user.pass" placeholder="Contraseña">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock"></i>
					</span>
				</div>

				<div class="container-login100-form-btn p-t-10">
					<button type="submit" class="login100-form-btn">
						Entrar
					</button>
				</div>

				<div class="text-center w-full p-t-25 p-b-100"></div>

				<div class="text-center w-full">
					<a class="txt1" href="#">
						Crear una cuenta
						<i class="fa fa-long-arrow-right"></i>						
					</a>
				</div>
			</form>
		</div>
	</div>
</div>